/* 
 *  forms.css
 *
 *  A better version of the /cmscss/forms.css file. This file
 *  should be used to format all the forms used in /nuservices
 * 
 *  Created mostly because we cannot apply a generic format (e.g.
 *  the width) to all the <input> tags.
 *
 *  author: pedroliska.com
 *  creation date: 2009-03-31
 */

/************************************/
/* BEGIN overrides to R7 formatting */
/************************************/
label
{
	float: none;
	display: inline;
}
td
{
	padding: 0px;
}
input
{
	margin: 3px 0;
}
/**********************************/
/* END overrides to R7 formatting */
/**********************************/

.fTable td
{
	padding: 4px;
}

td.fLabel
{
	text-align: right;
}
.fTextBox
{
	width: 250px;
	border: 1px solid #000000;
	padding: 4px 4px 4px 4px;
}
.fSelect
{
	border: 1px solid #000000;
	padding: 4px 4px 4px 4px;
}
td.fCheckbox input
{
  margin: 4px;
}

/**************************************************************************************/
/* BEGIN old styles. Please do not use these any more, use the ones above             */
/**************************************************************************************/

/************************************************************
 *  there are some inputs that we don't want to have them 
 *  be really wide. There must be a cleaner way to do this!
 */
td.f_input
{
	width: 300px;
	font-size: 15px;
	text-align: left;
}
td.f_input input, td.f_input textarea
{
	width: 250px;
	border: 1px solid #000000;
	padding: 4px 4px 4px 4px;
}
td.f_input select
{
	border: 1px solid #000000;
	height: 25px;
}
/* 
 *  there are some inputs that we don't want to have them 
 *  be really wide. There must be a cleaner way to do this!
 */
td.f_input span.f_checkbox input, td.f_input span.f_radiobutton input, td.f_input .f_radiobutton, span.f_listItem input, span.f_listItem label
{
	width: 20px;
	border-width: 0px;
}
