<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <context-param>
        <param-name>start</param-name>
        <param-value>/WEB-INF/start.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>school</param-name>
        <param-value>/WEB-INF/school.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>lifestyle</param-name>
        <param-value>/WEB-INF/lifestyle.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>aspirations</param-name>
        <param-value>/WEB-INF/aspirations.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>result</param-name>
        <param-value>/WEB-INF/result.jsp</param-value>
    </context-param>
</web-app>
